{% extends "stedcol/base_generic.html" %}

{% block content %}
  <div class="container">
    <h2>Available Courses</h2>
    <ul class="course-list">
      {% for course in courses %}
        <li class="course-item">
          <h3>{{ course.title }}</h3>
          <p>{{ course.description }}</p>
          {% comment %} <p>Instructor: {{ course.instructor.user.username }}</p> {% endcomment %}
          <p>Price: Ksh{{ course.price }}</p>
          {% comment %} <a href="{% url 'mentorship_request' mentor_id=course.instructor.id %}">Request Mentorship</a> {% endcomment %}
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}